#canvas-container {
  position: relative;
  top: 10px;
  width: 700px;
  height: 500px;
  margin: auto;
}

#network_canvas {
  background: rgb(33, 33, 33);
  width: 100%;
  height: 492px;
  border-radius: 8px;
  margin: auto;

}