@font-face {
  font-family: 'myFont';
  src: url('../fonts/font.ttf');
}

#introContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(40, 40, 40);
  width: 90%;
  height: 800px;
  text-align: center;
  display: block;
}

#intro-title-container {
  position: relative;
  width: 90%;
  height: 90px;
  background: rgb(40, 40, 40);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: auto;
  text-align: center;
}

#intro-title {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  color: #f3f3f3;
}

#intro-Canvas-Container {
  width: 90%;
  height: 500px;
  background: rgb(40, 40, 40);
  margin: auto;
  position: relative;
}

#intro_canvas {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 10px solid #444444;
  border-radius: 15px;
}

@keyframes pulseCircle {
  0% {
    background-color: #292929;
  }

  50% {
    background-color: #404040;
  }

  100% {
    background-color: #292929;
  }

}

#popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
  background: #292929;
  border-radius: 100px;
  font-size: 19px;
  color: white;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  animation-name: pulseCircle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#inner-popup {
  position: relative;
  top: 22px;

}

#intro-string-container {
  width: 90%;
  height: 100px;
  background: rgb(40, 40, 40);
  margin: auto;
  position: relative;
}

#intro-array-container {
  list-style-type: none;
  width: 700px;
  height: 80px;
  background: #444444;
  margin: auto;
  position: relative;
  top: 0px;
  border-radius: 13px;
}

#intro-array-inner-container {
  position: absolute;
  width: 650px;
  height: 50px;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}


.intro-array-element {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #ffce82;
  text-align: center;
  border-radius: 8px;
  animation-name: pulseColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.intro_hide_element {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #f3f3f3;
  text-align: center;
  border-radius: 8px;
}

.intro_array_done {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #a5e87e;
  text-align: center;
  border-radius: 8px;
}

.intro-element {
  font-size: 45px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 8px;
}

@media only screen and (max-width: 1000px) {
  #intro-title {
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    position: relative;
    top: 10px;
  }

  #intro-array-container {
    list-style-type: none;
    width: 550px;
    height: 80px;
    background: #484848;
    margin: auto;
    position: relative;
    top: 0px;
    border-radius: 13px;
  }

  #intro-array-inner-container {
    position: absolute;
    width: 550px;
    height: 50px;
    top: 0;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .intro-array-element {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 85px;
    height: 50px;
    background: #ffce82;
    text-align: center;
    border-radius: 8px;
    animation-name: pulseColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .intro_hide_element {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 85px;
    height: 50px;
    background: #f3f3f3;
    text-align: center;
    border-radius: 8px;
  }

  .intro_array_done {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 85px;
    height: 50px;
    background: #a5e87e;
    text-align: center;
    border-radius: 8px;
  }

  .intro-element {
    font-size: 45px;
    font-family: myFont;
    font-weight: bold;
    color: #4a4a4a;
    position: relative;
    bottom: 8px;
  }
}


#begin {
  position: relative;
  box-sizing: content-box;
  width: 250px;
  height: 75px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(233, 223, 223);
  background: rgb(13, 126, 126, 0.4);
  border: 3px solid #f3f3f3;
  transition: all 2s;
}

#begin:hover {
  background: rgba(56, 231, 231, 0.5);
}